<h3>Viewing {{routes.name}}</h3>


<a href="#/view_route_details/{{$index}}" ng-repeat="route in routes.places">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-2">{{$index}}</div>
            <div class="col-xs-8">
                <dl style="text-overflow: ellipsis;">
                    <dt>{{route.data.name}}<dt>
                    <dd>{{route.data.location}}</dd>
                </dl>
                
            </div>
            <div class="col-xs-2" style="vertical-align: middle; height: 100%">
                <span class="fa fa-chevron-right" style="vertical-align: middle;"></span>
            </div>
        </div>
    </div>
</a>